body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: rgba(26,33,44,255);
}

.header {
    background-color:  rgba(26,33,44,255);
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

.header .logo img {
    width: 180px;
    height: 50px;
    margin-right: 10px;
}
.header a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.restaurant-header {
    display: flex;
    align-items: center;
    background: url('../images/camera.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 20px;
    position: relative;
}
.restaurant-header .details {
    margin-left: 100px; 
    height: 200px;
}

.restaurant-header h1 {
    margin: 0;
}

.restaurant-header p {
    margin: 5px 0 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: aliceblue;
    border-radius: 10px;
}
.card {
    background: rgba(169,144,113,255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1;
    margin: 0 10px;
}
h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
.cart {
    flex: 0 0 300px; /* Fixed width for cart */
    border: 1px solid #000000;
}

.card table {
    width: 100%;
    border-collapse: collapse;
}

.card table th, .card table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

.card table th {
    background-color: #f2f2f2;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    position: relative; 
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    border-radius: 10px;
}

.close {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-size: 24px; 
    font-weight: bold;
    color: #000; 
    cursor: pointer; 
}

.modal-content h2 {
    margin-top: 0;
}
.modal-content button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}